<div class="container">
  <h1>Stupid Coaching</h1>

  <div id="you">
    <p> <%= @query %> </p>
    <p class="by"> - You </p>
  </div>

  <div id="coach">
    <p class="answer"> <%= @answer %> </p>
    <p class="by"> - Your coach </p>
  </div>

  <%= link_to ask_path do%>
  <div class="link">
    <p>Ask a new question</p>
  </div>
  <% end %>
</div>
